body {
    background: rgb(245,3,109);
background: radial-gradient(circle, rgba(245,3,109,1) 0%, rgba(94,94,94,1) 100%);
    color: aquamarine;
}

.users-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.myPagination {
    text-align: center;
}

img {
    border-radius: 50%;
}
.myPagination .btn {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.myPagination .btn.active {
    background-color: aquamarine;
    color: blue;
}


/* loader */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
    border-color: rgb(184, 57, 78);
}


@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}